---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const books = await getCollection("books");
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Libros de programacion 💻</h1>
    <section aria-label="libros recomendados para programadores">
      <div class="books-wrapper">
        {
          books.map((book) => {
            const { slug, data } = book;
            const { title, author, img, readtime, description, buy } = data;
            return (
              <article class="book">
                <a href={`libro/${slug}`}>
                  <Image
                    width={150}
                    height={200}
                    alt={title}
                    src={`/books/${img}`}
                  />
                </a>
                <div class="info">
                  <h2>{title}</h2>
                  <p>{description}</p>
                  <span>Lectura en {readtime} minutos</span>
                </div>
              </article>
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    width: min(100%, 90rem);
    margin: auto;
    padding: 3rem 0;
  }

  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }
  .books-wrapper {
    --width: 300px;
    --gap: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: min(calc(100% - 20px), calc(var(--width) * 3));
    margin: auto;
    gap: var(--gap);
  }

  .book {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: min(100%, 30rem);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & h2 {
      font-size: 1.25rem;
      font-weight: 700;
    }

    & span {
      font-size: 0.8rem;
      color: #e3ed4b;
    }
  }
  h1 {
    font-size: 2rem;
    font-weight: 800;
  }
</style>
